:where(#checkout-root, #spa-checkout-wrapper) {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
}

:where(#checkout-root, #spa-checkout-wrapper),
:where(#checkout-root, #spa-checkout-wrapper) :where(*, ::before, ::after) {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

:where(#checkout-root, #spa-checkout-wrapper) :where(*, ::before, ::after) {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:where(#checkout-root, #spa-checkout-wrapper) :where(button, input, optgroup, select, textarea) {
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

:where(#checkout-root, #spa-checkout-wrapper) :where(button, select) {
  text-transform: none;
}

:where(#checkout-root, #spa-checkout-wrapper) :where(button, [type='button'], [type='reset'], [type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:where(#checkout-root, #spa-checkout-wrapper) :where(button, [role='button']) {
  cursor: pointer;
}

:where(#checkout-root, #spa-checkout-wrapper) :where(:disabled) {
  cursor: default;
}

:where(#checkout-root, #spa-checkout-wrapper) :where(img, svg) {
  display: block;
  vertical-align: middle;
}

:where(#checkout-root, #spa-checkout-wrapper) :where(img) {
  max-width: 100%;
  height: auto;
}

@tailwind utilities;

.bg-white\/98 {
  background-color: rgb(255 255 255 / 0.98);
}
